.ForgotPasswordForm-emailContainer {
  margin-bottom: 5px;
}

.ForgotPasswordForm-submitContainer {
  text-align: center;
}

.ForgotPasswordFormContainer {
  margin: 100px auto;
  padding: 20px;
  max-width: 400px;
  border: 1px solid turqoise;
}
