.NotificationList {
  width: 400px;
  position: fixed;
  left: 50%;
  top: 15px;
  margin-left: -200px;
  z-index: 10000;
}

.NotificationList-alert {
  font-size: 12px;
  padding: 8px 24px 8px 8px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.NotificationList-closeButton {
  position: relative;
  top: -4px;
  right: -15px;
  color: inherit;
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}
