$header-height: 52px;
$brand-primary-blue-color: #54b0cb;
$brand-navy-blue-color: #044062;
$brand-gray-color: #707170;
$brand-cool-gray-color: #dad8d6;
$brand-neutral-brown-color: #4c4845;
$brand-red-color: #ab2b28;
$brand-orange-color: #e15829;
$brand-yellow-color: #f4ce3c;
$brand-green-color: #aacf76;
$brand-secondary-blue-color: #00657f;
$brand-red-on-grey-color: #ff5f5c;
